.debug-example {
  background-color: #333;

  .dock {
    align-self: flex-end;

    .dock-item {
      .letter {
        width: 70%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ccc;
        border-radius: 50%;
      }
    }

    .dock-background {
      background-color: #aaa;
      opacity: 0.6;
    }
  }
}
