@import "osx-example";
@import "social-example";
@import "pokemon-example";
@import "debug-example";

html, body, #react, .app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.app {
  display: flex;
  justify-content: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.example-selector {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-row-gap: 6px;
  padding: 12px;
  background: #111522;
  color: #ecedee;
  box-shadow: 1px 1px 50px 4px rgba(0, 0, 0, 0.6);
  z-index: 1;

  .header {
    font-weight: bold;
  }

  a {
    color: inherit;

    &.selected {
      text-decoration: none;
      pointer-events: none;
      cursor: inherit;
    }
  }
}

.dock {
  z-index: 0;

  .dock-item {
    cursor: pointer;
  }
}

.fork {
  img {
    display: none;
  }
}

@media screen and (min-width: 48em) {
  .fork {
    img {
      display: inherit;
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
    }
  }
}
