html, body, #react, .app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.app {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.dock {
  display: flex;
  align-items: flex-end;

  .dock-app {
    flex: 1;
    padding: 5px;
  }
}
