html, body, #react, .app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

  &.osx-example {
    background-image: url("../images/osx/background.jpg");
    background-color: #555;
    background-position: center;
    background-size: cover;

    .dock {
      .dock-app {
        cursor: pointer;
        $circle-height: 4px;
        $circle-margin: 3px;

        img {
          height: calc(100% - #{$circle-height} - #{$circle-margin * 2});
        }

        .circle {
          width: $circle-height;
          height: $circle-height;
          background-color: #4e4e4e;
          border-radius: 50%;
          margin: $circle-margin 0px;
        }
      }

      .dock-background {
        padding: 3px;
        background-color: #ccc;
        opacity: 0.6;
        border-radius: 4px 4px 0px 0px;
        box-shadow: 1px 1px 50px 4px rgba(0, 0, 0, 0.8);
      }
    }
  }

  &.social-example {
    background-image: url("../images/social/background.png");
    background-color: #999;
    background-repeat: repeat;

    .dock {
      .dock-app {
        cursor: pointer;

        a {
          height: 80%;

          img {
            height: 100%;
          }
        }
      }
    }
  }

  &.pokemon-example {
    background-image: url("../images/pokemon/background.png");
    background-color: #ffdd00;
    background-position: center;
    background-repeat: repeat;

    .dock {
      .dock-app {
        cursor: pointer;

        img {
          height: 80%;
        }
      }

      .dock-background {
        padding: 3px;
        background-color: #ffdd00;
        border: solid #eb0000;
        border-width: 3px 3px 0px 3px;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.example-selector {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 5px;
  align-items: baseline;
  padding: 10px;
  background: #111522;
  color: #ecedee;
  box-shadow: 1px 1px 50px 4px rgba(0, 0, 0, 0.6);

  .header {
    font-weight: bold;
  }

  .divider {
    &::before {
      content: "|";
    }
  }

  a {
    color: inherit;

    &.selected {
      text-decoration: none;
      pointer-events: none;
      cursor: inherit;
    }
  }
}

.fork {
  img {
    display: none;
  }
}

@media screen and (min-width: 48em) {
  .example-selector {
    align-self: flex-start;
  }

  .fork {
    img {
      display: inherit;
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
    }
  }
}
