html, body, #react, .app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &.osx {
    background-image: url("../images/osx/background.jpg");
    background-color: #555;
    background-position: center;
    background-size: cover;

    .dock {
      .dock-background {
        background-color: #ccc;
        opacity: 0.6;
        border-radius: 4px 4px 0px 0px;
        box-shadow: 1px 1px 50px 4px rgba(0, 0, 0, 0.8);
      }
    }
  }

  &.social {
    background-image: url("../images/social/background.png");
    background-color: #999;
    background-repeat: repeat;
  }

  &.pokemon {
    background-image: url("../images/pokemon/background.png");
    background-color: #ffdd00;
    background-position: center;
    background-repeat: repeat;

    .dock {
      .dock-background {
        background-color: #ffdd00;
        border: solid #eb0000;
        border-width: 3px 3px 0px 3px;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.dock {
  img {
    cursor: pointer;
  }
}

.dock-type-selector {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 5px;
  align-items: baseline;
  padding: 10px;
  background: #111522;
  color: #ecedee;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 1px 1px 50px 4px rgba(0, 0, 0, 0.6);

  .header {
    font-weight: bold;
  }

  .divider {
    &::before {
      content: "|";
    }
  }

  a {
    color: inherit;

    &.selected {
      text-decoration: none;
      pointer-events: none;
      cursor: inherit;
    }
  }
}

.fork {
  img {
    display: none;
  }
}

@media screen and (min-width: 48em) {
  .dock-type-selector {
    align-self: flex-start;
  }

  .fork {
    img {
      display: inherit;
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
    }
  }
}
