.osx-example {
  background-image: url("../images/osx/background.jpg");
  background-color: #886e96;
  background-position: center;
  background-size: cover;

  .dock {
    align-self: flex-end;

    .dock-item {
      padding: 6px 0px 3px 0px;
      $active-indicator-height: 4px;
      $active-indicator-margin: 2px;

      img {
        height: calc(100% - #{$active-indicator-height} - #{$active-indicator-margin});
      }

      .active-indicator {
        width: $active-indicator-height;
        height: $active-indicator-height;
        margin-top: $active-indicator-margin;
        background-color: #444;
        border-radius: 50%;
      }
    }

    .dock-background {
      background-color: #ccc;
      opacity: 0.6;
      border-radius: 4px 4px 0px 0px;
      box-shadow: 1px 1px 50px 4px rgba(0, 0, 0, 0.8);
    }
  }
}
