.social-example {
  background-image: url("../images/social/background.png");
  background-color: #00913f;
  background-repeat: repeat;

  .dock {
    align-self: flex-start;

    .dock-item {
      padding: 24px 0px 16px 0px;

      a {
        height: 100%;

        img {
          height: 100%;
        }
      }
    }
  }
}
